<!--Model aan roepen van artiklen-->

@{
    ViewBag.Title = "Homepage van Football Insider";
}

<div class="row">
    <!--Hier komt een foreach-->
    <div class="col-sm-6 col-md-4 article">
        <div class="thumbnail">
            <img src="http://images.performgroup.com/di/library/GOAL/69/68/paul-pogba-manchester-united_195e7q16vglec11g0wnrd9wtik.jpg" class="item-image">
            <div class="caption">
                <h3 class="home-item-title">Manchester United eenvoudig langs Watford</h3>

                <p>
                    Gepubliceerd: @DateTime.Now.ToShortDateString()
                    <br />
                    Reacties: 10
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 article">
        <div class="thumbnail">
            <img src="https://indebuurt.nl/eindhoven/wp-content/uploads/2018/04/psv-kampioen.jpg" class="item-image">
            <div class="caption">
                <h3 class="home-item-title">PSV Kampioen van Nederland!</h3>

                <p>
                    Gepubliceerd: @DateTime.Now.ToShortDateString()
                    <br />
                    Reacties: 64
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 article">
        <div class="thumbnail">
            <img src="https://fhm.nl/wp-content/uploads/2018/03/Neymar-PSG.jpg" class="item-image">
            <div class="caption">
                <h3 class="home-item-title">Real Madrid haal Neymar</h3>
                <p>
                    Gepubliceerd: @DateTime.Now.ToShortDateString()
                    <br />
                    Reacties: 32
                </p>
            </div>
        </div>
    </div>
    <!--Hier eindigt de foreach-->
</div>