@model Football_Insider.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "Homepage van Football Insider";
}

<div class="row">
    @foreach (MDL.Article article in Model.Articles)
    {
        <div class="col-sm-6 col-md-4 article">
            <div class="thumbnail">
                @if (article.Image.Count() == 0)
                {
                    <img src="" class="item-image">
                }
                else
                {
                    <img src="@article.Image.First()" class="item-image">
                }
                <div class="caption">
                    <h3 class="home-item-title">@article.Title</h3>

                    <p>
                        <span class="fa fa-clock-o" aria-hidden="true"></span> @article.CreationDate
                        <br />
                        <h3 class="home-item-category">@article.Category</h3>
                    </p>
                </div>
            </div>
        </div>
    }
</div>