body {
    padding-top: 100px;
    padding-bottom: 20px;
    background-color:black;
    height: 1500px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster');

.body {
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px;
}

p {
    color: #6c6c6f;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #323233;
}

.navbar-brand span {
    color: #fed136;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-family: 'Bebas Neue';
}

.navbar-brand {
    color: #fff;
    font-size: 25px;
    font-family: 'Bebas Neue';
    font-weight: 700;
    letter-spacing: 0.1em;
}

.navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
    font-size: 120%;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    font-family:'Bebas Neue';
}

    .navbar-nav .nav-item .nav-link:hover {
        color: #fed136;
    }

.navbar-expand-md .navbar-nav .dropdown-menu {
    border-top: 3px solid #fed136;
}

.dropdown-item:hover {
    background-color: #fed136;
    color: #fff;
}

nav {
    -webkit-transition: padding-top .3s,padding-bottom .3s;
    -moz-transition: padding-top .3s,padding-bottom .3s;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
}

.shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
}

.banner {
    background-image: url('http://www.hd-freewallpapers.com/latest-wallpapers/abstract-website-backgrounds.jpg');
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner-text {
    padding: 200px 0 150px 0;
}

.banner-heading {
    font-family: 'Lobster', cursive;
    font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 30px;
    color: #fff;
}

.banner-sub-heading {
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
    color: #fff;
}

.btn-banner {
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.text-intro {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}


/* mobile view */
@media (max-width:500px) {
    .navbar-nav {
        background-color: #000;
        border-top: 3px solid #fed136;
        color: #fff;
        z-index: 1;
        margin-top: 5px;
    }

        .navbar-nav .nav-item .nav-link {
            padding: 0.7em 1em !important;
            font-size: 100%;
            font-weight: 500;
        }

    .banner-text {
        padding: 150px 0 150px 0;
    }

    .banner-heading {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .banner-sub-heading {
        font-size: 10px;
        font-weight: 200;
        line-height: 10px;
        margin-bottom: 40px;
    }
}

@media (max-width:768px) {
    .banner-text {
        padding: 150px 0 150px 0;
    }

    .banner-sub-heading {
        font-size: 23px;
        font-weight: 200;
        line-height: 23px;
        margin-bottom: 40px;
    }
}

.home-item-title {
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Bebas Neue';
    color:white;
}

a.effect-underline:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 2px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

a.effect-underline:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

h5 a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-family: 'Dosis', sans-serif;
}

.menu-item{
    margin:0px;
}

.item-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.article {
    background-color: #191919;
    padding: 10px;
    cursor: pointer;
    margin: 0px;
    border: 2px solid black;
}

.article:hover {
    background-color: #313131;
}

#Dashboard-Title {
    font-family: 'Bebas Neue';
    color: white;
}

#Dashboard-Block {
    height: 250px;
    text-align: center;
    background-color: #fed136;
    color: black;
    border: 2px solid black;
    display: table;
}

#Block-Title {
    display: table-cell;
    vertical-align: middle;
    color:black!important;
    font-size:50px;
}

#Title-Users{
    font-family:'Bebas Neue';
    color: black;
}

    #Title-Users:hover {
        cursor: pointer;
    }

a.effect-underline-title:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 5px solid;
    margin-top: 30px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,2);
    transform: scale(0,2);
}

a.effect-underline-title:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.Title-Dashboard {
    color: #ffffff;
    font-family: 'Bebas Neue';
    margin-bottom: 0px;
}

a.list-group-item{
    color:#ffffff;
}

.panel-title{
    background-color:#313131;
    color:white;
    padding: 12px;
}

h3.panel-title {
    border-radius: 0.25rem;
}

.dash-box{
    text-align: center;
    color: white;
    background-color:#fed136;
    width: 100%;
}

.well-title{
    color:black;
    font-family: 'Bebas Neue';
    padding-bottom: 0px;
    padding-top: 10px;
}

h4{
    color: black;
    font-family: 'Bebas Neue';
    padding: 10px;
}

.fluid-pad{
    padding:10px;
}

.blocks{
    text-align: center;
    padding: 15px;
}



.block-item {
    border: 2px solid black;
    padding: 0px;
    background-color: #fed136;
    border-radius: 0.25rem;
    height: 200px;
    color: black;
    font-family: 'Bebas Neue';
    font-size: 40px;
}





.fablo {
    margin-top: 30px;
}