<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="error">
        <div class="error-code m-b-10 m-t-20">Sorry<i class="fa fa-warning"></i></div>
        <h3 class="font-bold">Er is helaas iets mis gegaan, onze excuses voor het ongemak.</h3>
    </div>
</body>
</html>
