
@{
    ViewBag.Title = "Dashboard";
}

<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="active"><h1 class="Title-Dashboard">Dashboard</h1></li>
        </ol>
    </div>
</section>

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="@Url.Action("Articles", "Article")" class="list-group-item nav-link effect-underline">
                        <span class="fa fa-list" aria-hidden="true"></span>
                        Artikelen
                    </a>

                    <a href="@Url.Action("Users", "CMS")" class="list-group-item nav-link effect-underline">
                        <span class="fa fa-users" aria-hidden="true"></span>
                        Gebruikers
                    </a>

                    <a href="@Url.Action("Competitions", "CMS")" class="list-group-item nav-link effect-underline">
                        <span class="fa fa-pencil" aria-hidden="true"></span>
                        Competities
                    </a>
                </div>               
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Overzicht</h3>
                    </div>  
                    <div class="container blocks">
                        <div class="row">
                            <div class="col-md-4 block-item"><span class="fa fa-users fablo"></span><br/>Gebruikers <h3>(52)</h3></div>
                            <div class="col-md-4 block-item"><span class="fa fa-list fablo"></span><br/>Artikelen <h3>(485)</h3></div>
                            <div class="col-md-4 block-item"><span class="fa fa-globe fablo"></span><br/>Competities <h3>(8)</h3></div>
                        </div>
                    </div>
                </div>
                <!--Latest User-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Nieuwe gebruikers</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>Naam</th>
                                <th>Email</th>
                                <th>Tijdstip</th>
                            </tr>
                            <tr>
                                <td>Madhav Prasad</td>
                                <td>mr.madhavprasad@gmail.com</td>
                                <td>Dec 13,2014</td>
                            </tr>
                            <tr>
                                <td>Nagendra Kushwaha</td>
                                <td>nkushwaha822@gmail.com</td>
                                <td>Feb 15,2014</td>
                            </tr>
                            <tr>
                                <td>Arun Kumar</td>
                                <td>kumarun@yahoo.com</td>
                                <td>Aug 17, 2015</td>
                            </tr>
                            <tr>
                                <td>Nabin Singh</td>
                                <td>singhNavs@outlook.com</td>
                                <td>March 08,2016</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>