
@{
    ViewBag.Title = "Dashboard";
}

<h1 id="Dashboard-Title">Controlepaneel</h1>

<div class="row">
    <div class="col-sm-6" id="Dashboard-Block">
        <h3 id="Block-Title">
            <i class="fa fa-bars">
            </i>
            <a class="effect-underline-title" id="Title-Users">Artikelen</a>
        </h3>
    </div>
    <div class="col-sm-6" id="Dashboard-Block">
        <h3 id="Block-Title">
            <i class="fa fa-group">
            </i>
            <a class="effect-underline-title"  id="Title-Users">Gebruikers</a>
        </h3>
    </div>
</div>
