
@{
    ViewBag.Title = "AddArticle";
}

<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="active"><h1 class="Title-Dashboard">Artikel Toevoegen</h1></li>
        </ol>
    </div>
</section>
