
@{
    ViewBag.Title = "Artikelen";
}

<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="active"><h1 class="Title-Dashboard">Artikelen</h1></li>
        </ol>
    </div>
</section>

<div class="container">
    <a href="@Url.Action("AddArticle", "Article")" class="btn btn-primary btn-lg">
        <span class="fa fa-plus" aria-hidden="true"></span>
        Toevoegen
    </a>
</div>
